*.sublime-project
*.sublime-workspace
.bash_history
.bashrc
.cache/
.DS_Store
.gitconfig
.idea
.php_cs.cache
.profile
.sublime-gulp.cache
.v8flags*
.viminfo
/.composer/
/.ssh/
/build/
/vendor/
composer.lock
composer.phar
npm-debug.log
packages.json
Thumbs.db
